<h1>Account</h1>

<p>Email: <%= Current.user.email %></p>

<p><%= link_to "Update password", account_edit_path %></p>

<!--- TODO: add user image ---> 

<img src="https://i.pinimg.com/736x/61/fc/0e/61fc0ea8cdb49c3a17e258df1b5f31f3.jpg" alt="A corgi being held aloft in front of a field of sunflowers">
